In [1]:
ser = 1
item = 'apple'
price = float(23.42)

# Three print statements, each implicitly using the newline character at the end
print(ser)
print(item)
print(price)

# Three print statements, each using end keyword and using the ' : ' instead of newline character
print(ser, end=' : ')
print(item, end=' : ')
print(price, end=' : ')

1
apple
23.42
1 : apple : 23.42 :

In [2]:
#print('It's my birthday')   # This will flag an error
print('It\'s my birthday')

It's my birthday

In [3]:
# Similarly, we can give an ordinary character 't' and 'n', special meanings by preceding them by a back slash
print('Hello\tWorld')
print('Hello\nWorld')

Hello	World
Hello
World

In [4]:
# Option 1:
age = 51;    name = "Arif Butt"
print("Hello Mr. %s." % (name))
print("Mr. %s, you are %s years old." % (name, age))

Hello Mr. Arif Butt.
Mr. Arif Butt, you are 51 years old.

In [5]:
# Option 2: 
age = 51;    name = "Arif Butt"
print("Hello Mr. {}.".format(name))
print("Mr. {}, you are {} years old." .format(name, age))

Hello Mr. Arif Butt.
Mr. Arif Butt, you are 51 years old.

In [6]:
# Option 2: You can mention indices of variables passed to format() function, if you want a different 
# sequence as in following example
age = 51;    name = "Arif Butt"
print("Hello Mr. {0}.".format(name))
print("Mr. {1}, you are {0} years old." .format(age, name))

Hello Mr. Arif Butt.
Mr. Arif Butt, you are 51 years old.