### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [5]:
myset = set()
print(myset, type(myset))

set() <class 'set'>

  Create a set of your favorite colors and print it.

In [7]:
myset1 = {'Green', 'White', 'Black'}
print(myset1, '\n', type(myset1))

{'White', 'Green', 'Black'}
 <class 'set'>

    Create a set that includes a mix of data types (integers, strings, floats).

In [9]:
myset2 = {1,1.2,'Adnan'}
print(myset2)
type(myset2)

{1, 'Adnan', 1.2}

set

Access the elements of a set using a loop and print each element.

In [10]:
myset3 = {'a', 'b', 'c', 'd', 'e'}
for i in myset3:
    print(i, end='\n')

c
a
d
b
e

add a new element to a set using the add() method.

In [13]:
myset4 = {1,2,3,4,5,6}
print(myset4)

myset4.add(19)
print('\n', myset4)

{1, 2, 3, 4, 5, 6}

 {1, 2, 3, 4, 5, 6, 19}

Add multiple elements to a set using the update() method.

In [36]:
myset5 = {1,2,3,4,5}
print(myset5)
(myset5.update([15,'bbb']))
print('\n\n', myset5)

{1, 2, 3, 4, 5}


 {1, 2, 3, 4, 5, 'bbb', 15}

Remove and return an arbitrary element from a set using the pop() method.

In [43]:
myset6 = {'a', 'c', 'm'}
print(myset6)

print('\n', myset6.pop())

print('\n', myset6)

{'c', 'm', 'a'}

 c

 {'m', 'a'}

Remove a specific element from a set using the remove() method.

In [49]:
myset7 = {'c', 'n', 'm'}
print(myset7)
print('\n', myset7.remove('n'))
print('\n', myset7)

{'c', 'n', 'm'}

 None

 {'c', 'm'}

Remove a specific element from a set using the discard() method.

In [54]:
myset8 = {1,2,3,4,5}
print(myset8)
print('\n', myset8.discard(5))
print('\n', myset8)

{1, 2, 3, 4, 5}

 None

 {1, 2, 3, 4}

Convert a string to a set of unique characters.

In [56]:
mystr = 'My name is Adnan'
myset9 = set(mystr)
myset9

{' ', 'A', 'M', 'a', 'd', 'e', 'i', 'm', 'n', 's', 'y'}

Convert a set of characters to a string.

In [59]:
print(myset9)
mystr1 = ' '.join(myset9)
print('\n', mystr1, type(mystr1))

{'i', 'A', 'n', 'a', 'M', 's', 'm', 'd', 'y', 'e', ' '}

 i A n a M s m d y e   <class 'str'>

Use the clear() method to remove all elements from a set.

In [64]:
print(myset8)
myset9.clear()
print(myset9)

{1, 2, 3, 4}
set()

Use the copy() method to create a shallow copy of a set.

In [68]:
import copy
print('\n', myset8)
copiedset = copy.copy(myset8)
print('\nCopiedset:', copiedset)

 {1, 2, 3, 4}

Copiedset: {1, 2, 3, 4}

Use the difference() method to find the difference between two sets.

In [69]:
myset10 = {1,2,3,4}
myset11 = {3,4,5,6}
print('the difference is', myset10.difference(myset11))

the difference is {1, 2}

Create two sets and find their union.

In [70]:
myset12 = {4,5,6,7,8,9}
myset13 = {10,11,12}
print('the union is', myset12.union(myset13))

the union is {4, 5, 6, 7, 8, 9, 10, 11, 12}

    Create two sets and find their intersection.

In [71]:
myset14 = {4,6,7,9,8}
myset15 = {11,22,33,4,6}
print('the intersection is', myset14.intersection(myset15))

the intersection is {4, 6}

 Create two sets and find their difference.

In [72]:
myset16 = {1.2,3,4,5,6}
myset17 = {1.2,3,4,6,7,8}
print('the difference is', myset16.difference(myset17))

the difference is {5}

    Create two sets and find their symmetric difference.

In [73]:
myset18 = {1,2,3,4,5}
myset19 = {1,2,4,5,7,8}
print('the symmetric difference is', myset18.symmetric_difference(myset19))

the symmetric difference is {3, 7, 8}

Check if one set is a subset of another.

In [75]:
myset20 = {1,2,3,4,5,6,7}
myset21= {1,2,3,4}
print(myset20.issubset(myset21))

False

    Check if one set is a superset of another.

In [79]:
myset20 = {1,2,3,4,5,6,7}
myset21= {1,2,3,4}
print(myset21.issuperset(myset20))

False

    Check if two sets are disjoint (have no common elements).

In [78]:
myset22 = {1,2,3,4,5,6,7}
myset23= {8,9,10}
print(myset22.isdisjoint(myset23))

True