### Assignment-03 (Strings)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create a string variable with your name and print it.

In [11]:
name = 'Muhammad Adnan'
name

'Muhammad Adnan'

Define a multiline string that includes line breaks and print it.

In [77]:
var1 = """My name is Muhammad Adnan.
My father name is Muhammad Latif.
I live in Kasur"""
print(var1, "\n\n", type(var1))

My name is Muhammad Adnan.
My father name is Muhammad Latif.
I live in Kasur

 <class 'str'>

Access the first character of a string.

In [75]:
first_char = var1[0]
first_char

'M'

Access the last character of a string.

In [76]:
last_char = var1[-1]
last_char

'r'

Access the second to the fifth character of a string.

In [79]:
var2_5 = var1[1:5]
print(var2_5)

y na

Attempt to change a character within an existing string and explain the result.

In [81]:
print(var1)
changed_str = var1[5] = 'a'
print(changed_str)

My name is Muhammad Adnan.
My father name is Muhammad Latif.
I live in Kasur

TypeError: 'str' object does not support item assignment


Slice a string to obtain the first 3 characters.

In [95]:
print("original string:\n     ", var1)
substr1 = var1[0:3]
print("\n\n", substr1)

original string:
      My name is Muhammad Adnan.
My father name is Muhammad Latif.
I live in Kasur


 My

Slice a string to obtain the last 4 characters.

In [94]:
print("original string:\n     ", var1)
substr2 = var1[-4:]
print("\n\n", substr2)

original string:
      My name is Muhammad Adnan.
My father name is Muhammad Latif.
I live in Kasur


 asur

Slice a string to get every second character.

In [96]:
print("original string:\n     ", var1)
substr2 = var1[::2]
print("\n\n", substr2)

original string:
      My name is Muhammad Adnan.
My father name is Muhammad Latif.
I live in Kasur


 M aei uamdAnn
yfte aei uamdLtf
 iei au

Reverse a string using slicing.

In [100]:
var2 = "ABCDEFGHIJKLMNOPQESTUVWXYZ"
rev_var = var2[::-1]
print(rev_var)

ZYXWVUTSEQPONMLKJIHGFEDCBA

Create two string variables and concatenate them.

In [110]:
print(var2)
var3 = "Adnan"
print(var3, "\n", type(var3))
con_var = var2 + var3
print("\n\n", con_var)

ABCDEFGHIJKLMNOPQESTUVWXYZ
Adnan
 <class 'str'>


 ABCDEFGHIJKLMNOPQESTUVWXYZAdnan

Concatenate a string with a number (convert the number to a string first).

In [114]:
print(var2)
var4 = str("1234567890")
print("\n", var4, type(var4))
con_var2 = var2 + var4
print("\n", con_var2)

ABCDEFGHIJKLMNOPQESTUVWXYZ

 1234567890 <class 'str'>

 ABCDEFGHIJKLMNOPQESTUVWXYZ1234567890

Generate a string that repeats "abc" 10 times.

In [116]:
var5 = 'abc'*10
print(var5, type(var5))

abcabcabcabcabcabcabcabcabcabc <class 'str'>

Create a string containing a repeating pattern of your choice.

In [120]:
var6 = "1"*2 + "2"*2 + "3"*10
var6, type(var6)

('11223333333333', str)

Convert a string to lowercase using the lower() method.

In [121]:
var7 = 'ADNAN'
print(var7.lower())

adnan


Convert a string to uppercase using the upper() method.

In [122]:
var8 = 'latif'
print(var8.upper())

LATIF

Remove leading and trailing whitespace from a string using the strip() method.

In [123]:
var9 = '     ABCDEFGHI  JKLMNOPQRSTUV  WXYZ     '
var10 = var9.strip()
var10

'ABCDEFGHI  JKLMNOPQRSTUV  WXYZ'

Check if a string starts with a specific prefix using the startswith() method.

In [129]:
var11 = 'Adnan Latif'
check_var = var11.startswith('Ad')
check_var

True

Split a string into a list of words using the split() method.

In [133]:
print(var11)
sp_var = var11.split(' ')
sp_var, type(sp_var)

Adnan Latif

(['Adnan', 'Latif'], list)

Join a list of words into a single string using the join() method.

In [137]:
print(sp_var)
delimeter = ' '
var12 = delimeter.join(sp_var)
print("\n\n", var12)

['Adnan', 'Latif']


 Adnan Latif