### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [49]:
mytuple = ()
print(mytuple, type(mytuple))

() <class 'tuple'>

    Create a tuple of your favorite fruits and print it.

In [3]:
mytuple1 = ('Apple', 'Orange', 'Grapes')
print(mytuple1, type(mytuple1))

('Apple', 'Orange', 'Grapes') <class 'tuple'>

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [4]:
mytuple2 = ('Apple', 'ID', 2, 3, 4, 3.14)
print(mytuple2, type(mytuple2))

('Apple', 'ID', 2, 3, 4, 3.14) <class 'tuple'>

  Access the first element of a tuple.

In [6]:
print(mytuple2)
mytuple2[0]

('Apple', 'ID', 2, 3, 4, 3.14)

'Apple'

    Access the last element of a tuple.

In [7]:
print(mytuple2)
mytuple2[5]

('Apple', 'ID', 2, 3, 4, 3.14)

3.14

Access the second and third elements of a tuple.

In [9]:
print(mytuple2)
mytuple2[1:3]

('Apple', 'ID', 2, 3, 4, 3.14)

('ID', 2)


    Slice a tuple to extract the first three elements.

In [10]:
print(mytuple2)
mytuple2[0:3]

('Apple', 'ID', 2, 3, 4, 3.14)

('Apple', 'ID', 2)

Slice a tuple to extract the last three elements.

In [26]:
print(mytuple2)
mytuple2[-3:]

('Apple', 'ID', 2, 3, 4, 3.14)

(3, 4, 3.14)

   Slice a tuple to get every second element.

In [27]:
print(mytuple2)
mytuple2[::2]

('Apple', 'ID', 2, 3, 4, 3.14)

('Apple', 2, 4)

    Reverse a tuple using slicing.

In [28]:
print(mytuple2)
mytuple2[::-1]

('Apple', 'ID', 2, 3, 4, 3.14)

(3.14, 4, 3, 2, 'ID', 'Apple')

Create two tuples and concatenate them.

In [37]:
mytuple3 = (1,2,3,4,5)
mytuple4 = (6,7,8,9,10)
con_result = mytuple3 + mytuple4
print(con_result, '\n', type(con_result))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
 <class 'tuple'>

    Repeat a tuple multiple times using the repetition operator.

In [38]:
print(mytuple4 * 4)

(6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10)

Find the index of a specific element in a tuple using the index() method.

In [39]:
print(mytuple4)
mytuple4.index(7)

(6, 7, 8, 9, 10)

1

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [40]:
mytuple5 = (1,1,1,2,2,2,3,3,3,3,3)
mytuple5.count(2)

3

Sort a tuple of numbers in ascending order.

In [50]:
mytuple = (6,5,7,4,8,3)
orderedtup = sorted(mytuple)
print(orderedtup)

[3, 4, 5, 6, 7, 8]

    Sort a tuple of strings in alphabetical order.

In [53]:
mytuple = ('f','e', 'd', 'c', 'b', 'a')
orderedtup1 = sorted(mytuple)
print(orderedtup1)

['a', 'b', 'c', 'd', 'e', 'f']

Sort a tuple of tuples based on the second element of each inner tuple.

In [58]:
mytuple6 = ((1,2),(3,1),(1,4),(2,3),(1,4,5))
orderedtup2 = sorted(mytuple6, key=lambda x: x[1])
print(orderedtup2)

[(3, 1), (1, 2), (2, 3), (1, 4), (1, 4, 5)]

Compare two tuples to see if they are equal in both value and identity.

In [67]:
mytuple7, mytuple8 = (1,2,3,4,5,6), (1,2,3,4,5,7)
print(mytuple7 is mytuple8)
print(mytuple7 == mytuple8)

False
False

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [78]:
mytuple9 = ([1, 2, 3], [4, 5, 6])
mytuple10 = mytuple9[:]

mytuple10[1][2] = 'a'
print('mytuple9:', mytuple9, '\nmytuple10:', mytuple10)

#Since Tuple is immutable, changes can not be made in it.  However, if a tuple contains mutable objects (like lists), changes to those mutable objects within the tuple are possible.

mytuple9: ([1, 2, 3], [4, 5, 'a'])
mytuple10: ([1, 2, 3], [4, 5, 'a'])

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [81]:
import copy
mytuple11 = (1, [2, 3], 4)
mytuple12 = copy.deepcopy(mytuple11)
mytuple12[1][1] = 'a'
print('mytuple11:', mytuple11, '\nmytuple12:', mytuple12)

mytuple11: (1, [2, 3], 4)
mytuple12: (1, [2, 'a'], 4)

    Pickle a tuple and save it to a file.

In [86]:
import pickle

# Tuple to pickle
data_tuple = (1, 2, 3, 'hello', [4, 5, 6])

# File to save the pickled data
file_name = 'pickled_tuple.pkl'

# Pickling the tuple and saving it to a file
with open(file_name, 'wb') as file:
    pickle.dump(data_tuple, file)

print(f"Tuple pickled and saved to '{file_name}'")

Tuple pickled and saved to 'pickled_tuple.pkl'

    Unpickle a tuple from a file and display its content.

In [83]:
import pickle

# File containing the pickled tuple
file_name = 'pickled_tuple.pkl'

# Unpickling the tuple from the file
with open(file_name, 'rb') as file:
    unpickled_tuple = pickle.load(file)

# Displaying the content of the unpickled tuple
print("Unpickled tuple:", unpickled_tuple)

Unpickled tuple: (1, 2, 3, 'hello', [4, 5, 6])