### Assignment-04 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [8]:
# var1 = list()
var1 = []
var1

[]

Create a list of your favorite colors and print it.

In [10]:
var2 = ['Green', 'Black', 'White']
var2, type(var2)

(['Green', 'Black', 'White'], list)

Create a list that includes a mix of data types (integers, strings, floats).

In [11]:
var3 = [1, 1.2, 'Adnan', 'Latif', 10.0]
var3, type(var3)

([1, 1.2, 'Adnan', 'Latif', 10.0], list)

Access the first element of a list.

In [18]:
print('Original list: ', var3)
print('\n\nFirst element of var3:', var3[0])

Original list:  [1, 1.2, 'Adnan', 'Latif', 10.0]


First element of var3: 1

In [21]:
var4 = [10, 20, 'Apple', 10.22]
var5 = var4[0]
var5

10

Access the last element of a list.

In [33]:
print('\noriginal list: ', var4)
var6 = var4[-1]
print('\n\nlast element of a list:', var6)

original list:  [10, 20, 'Apple', 10.22]


last element of a list: 10.22

 Access the second and third elements of a list.

In [36]:
print('\noriginal list: ', var4)
var7 = var4[1:3]
print('\n\nsecond and third elements of a list:', var7)

original list:  [10, 20, 'Apple', 10.22]


second and third elements of a list: [20, 'Apple']


Slice a list to extract the first three elements.

In [37]:
var8 = ['a', 'b', 'c', 'd', 'e', 'f']
var9 = var8[:3]
var9

['a', 'b', 'c']

Slice a list to extract the last three elements.

In [40]:
var8 = ['a', 'b', 'c', 'd', 'e', 'f']
var10 = var8[-3:]
var10

['d', 'e', 'f']

Slice a list to get every second element.

In [42]:
var8 = ['a', 'b', 'c', 'd', 'e', 'f']
var11 = var8[::2]
var11

['a', 'c', 'e']

Reverse a list using slicing.

In [44]:
var8 = ['a', 'b', 'c', 'd', 'e', 'f']
var12 = var8[::-1]
var12

['f', 'e', 'd', 'c', 'b', 'a']

 Create two lists and concatenate them.

In [45]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]


Repeat a list multiple times using the repetition operator

In [46]:
d = c*4
d

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

Add a new element to the end of a list using the append() method.

In [67]:
varlist = [1, 'a']
element_added = varlist.append('b')
print(varlist)

[1, 'a', 'b']


Extend a list with elements from another list using the extend() method.

In [71]:
varlist1 = [1, 'd']
varlist2 = [2, 3]
varlist3 = varlist1.extend(varlist2)
print(varlist1)

[1, 'd', 2, 3]

Insert an element at a specific index in a list using the insert() method.

In [73]:
var4 = [5, 6, 7]
var5 = var4.insert(2,2)
print(var4)

[5, 6, 2, 7]

 Remove the last element from a list using the pop() method.

In [78]:
print(var2)
print(var2.pop())
print(var2)

['Green', 'Black', 'White']
White
['Green', 'Black']

Remove a specific element from a list using the remove() method.

In [86]:
spe_list = ['m', 1, 1.2, 3]
var6 = spe_list.remove(1.2)
print(spe_list)

['m', 1, 3]

Clear all elements from a list.

In [91]:
spe2_list = [5, 6, 7]
empty_list = spe2_list.clear()
spe2_list

[]

Delete an element at a specific index using the del statement.

In [92]:
spe3_list = [6, 8, 6, 5, 7]
del spe3_list[2]
spe3_list

[6, 8, 5, 7]

Convert a string to a list of characters and vice-versa.

In [101]:
str1 = 'Adnan Latif'
list_char = list(str1)
print(list_char, type(list_char))

['A', 'd', 'n', 'a', 'n', ' ', 'L', 'a', 't', 'i', 'f'] <class 'list'>

Sort a list in ascending order using the sort() method.

In [106]:
original_list = ['a', 'b', 'd', 'e', 'c']
print(original_list)

original_list.sort()
print("\n\nAscending order List:", original_list)

['a', 'b', 'd', 'e', 'c']


Ascending order List: ['a', 'b', 'c', 'd', 'e']

In [ ]:

Sort a list in descending order using the sort() method.

In [107]:
original_list = ['a', 'b', 'd', 'e', 'c']
print(original_list)

original_list.sort(reverse = True)
print("\n\ndescending order List:", original_list)

['a', 'b', 'd', 'e', 'c']


descending order List: ['e', 'd', 'c', 'b', 'a']

Reverse the order of a list using the reverse() method.

In [109]:
original_list2 = ['l', 'm', 'p', 'n', 'o']
print(original_list2)

original_list2.sort(reverse = True)
print("\n\ndescending order List:", original_list2)

['l', 'm', 'p', 'n', 'o']


descending order List: ['p', 'o', 'n', 'm', 'l']

Check if an element is present in a list using the in operator.

In [110]:
original_list2 = ['l', 'm', 'p', 'n', 'o']
test = 'n' in original_list2
test

True

Compare two lists to see if they are equal in both value and identity.

In [112]:
listno1 = ['a', 'c', 'd']
listno2 = ['a', 'f', 'd']
print(listno1 is listno2)
print(listno1 == listno2)

False
False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [113]:
var50 = ['d', 'v', 'e']
var60 = var50[:]
var60[2] = 'mmm'
print(var50)
print(var60)

['d', 'v', 'e']
['d', 'v', 'mmm']

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [115]:
import copy
var70 = [1, 2, 4, 5, [2, 3, 5]]
var80 = copy.deepcopy(var70)
var80[4][2] = 'aaa'
print(var70)
var80

[1, 2, 4, 5, [2, 3, 5]]

[1, 2, 4, 5, [2, 3, 'aaa']]

Pickle and Unpickle a list and display its content.

In [24]:
import pickle 

l = [2 + 3j, 'Python', True, 3.14]

# pickle the created list
data = pickle.dumps(l)
print(data)

b'\x80\x04\x95E\x00\x00\x00\x00\x00\x00\x00]\x94(\x8c\x08builtins\x94\x8c\x07complex\x94\x93\x94G@\x00\x00\x00\x00\x00\x00\x00G@\x08\x00\x00\x00\x00\x00\x00\x86\x94R\x94\x8c\x06Python\x94\x88G@\t\x1e\xb8Q\xeb\x85\x1fe.'

In [25]:
# printing the unpickled data
unpickled_data = pickle.loads(data)
print(unpickled_data)

[(2+3j), 'Python', True, 3.14]